body{
    background-color: lightgrey;
}
main {
    width: 800px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
}

h1{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
}
h4{
    background-color: brown;
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-style: unset;
    font-weight:bold;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
    margin-left: 400px;
    margin-right: 400px;
}
nav ul li a {
    text-decoration: none;
    color: inherit;
    text-align: center;

}
nav ul{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
nav ul li{
    padding: 15px;
    margin: 120px;
    margin-top: 10px;
    list-style-type: none;
    float: left;
    background: black;
    color: white;
    text-transform: uppercase;
    width: 170px;
    font-size: 20px;
    text-align: center;
    transition: all 0.5s;
}
nav ul li:first-child{
    border-radius: 15px 15px 15px 15px;
}
nav ul li:nth-child(0n+2){
    border-radius: 15px 15px 15px 15px;
}
nav ul li:nth-child(0n+3){
    border-radius: 15px 15px 15px 15px;
}
nav ul li:nth-child(0n+4){
    border-radius: 15px 15px 15px 15px;
}
nav ul li:last-child{
    border-radius: 15px 15px 15px 15px;
}
nav ul li:hover{
    background: gray;
    color: black;
}
.fix{
    clear: both;
}
h5{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}